tr
  td(style={ 'font-size': '14px', 'line-height': '30px', padding: '20px 0 0 0', color: '#666' })
    | If you can't confirm by clicking the button above, please copy the address below to the browser address bar to confirm.
    br
    a(
      href=confirmLink
    ) #{confirmLink}
