$tl-blue: #4055ee !default;
$tl-red: #f13840 !default;
$tl-orange: #fd7e14 !default;
$tl-green: #5DBE87 !default;
$tl-cyan: #17a2b8 !default;
$tl-light: #f8f9fa !default;

$tl-border-radius: 2px !default;
$tl-letter-spacing: 1.0025px !default;

$tl-spin-color: $tl-blue !default;
