- var title = 'Password Changed';
include includes/content-wrapper.pug
    include includes/title.pug
    tr
      td(style={ 'font-size': '14px', 'line-height': '30px', padding: '20px 0', color: '#666' })
        | Hello,
        br
        | Your #{AppName}'s password has been changed.
    include includes/signature.pug
include includes/footer.pug
