.DatePicker {
  $datepicker-width: 300px;
  position: relative;
  display: inline-block;

  z-index: 1000;
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: $datepicker-width;
  font-size: 12px;

  .control {
    padding: 5px;
    text-align: right;
  }

  input {
    width: 130px;
  }
}
