.DatePicker {
  $datepicker-width: 350px;
  display: inline-block;
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  // width: $datepicker-width;
  border: solid 1px $border-color;
  padding: 8px;
  background-color: #fff;
  border-radius: $border-radius;
  font-size: $font-size-base;

  .cntrl {
    text-align: right;

    button {
      @extend .btn;
      @extend .btn-link;
    }
  }

  .react-calendar {
    border: none;
  }

  .react-calendar__year-view__months__month {
    padding: 1.2rem 0.5rem !important;
  }
}
