.Tabs {
  .nav-link {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
}

.tab-content {
  padding: 1rem;
  background: $white;
  border-color: $border-color;
  border-width: $border-width;
  border-style: solid;
  border-top-style: none;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  overflow-x: auto;
}
