// FlipClock Variables
$fc-font-family: 'Futura PT Medium' !default;
$fc-face-color: #fff !default;
$fc-face-background: #3649d6 !default;
$fc-face-font-size: 2.25em !default;
$fc-face-width: 3.75em !default;
$fc-face-height: 5em !default;
$fc-flip-shadow-color: #000 !default;
