html,
body,
.cntnt {
  height: 100%;
}

input,
select,
textarea {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
  -webkit-text-fill-color: $input-color !important;
  color: $input-color !important;
}

body {
  background-color: $var-background-color;
  background-repeat: repeat;
  color: $var-color;
  font-family: 'Open Sans Regular';
}

a.active {
  color: $primary;
}

.actns {
  margin-bottom: 1rem;
}

.admin-only {
  display: none;
}

.admn .admin-only {
  display: block;
}

.Badge {
  letter-spacing: normal;
}

.btns-grp {
  .btn {
    margin-left: 0.5rem;

    &:first-child {
      margin-left: 0;
    }
  }

  button[type="submit"] {
    float: none !important;
    margin-top: 0 !important;
  }
}

.btn {
  @extend .text-truncate;
  font-family: 'Futura PT Heavy';
  text-transform: uppercase;

  &.btn-cancel {
    color: $input-color;
    border-color: $input-border-color;
    border-width: $input-border-width;
  }

  &.btn-plugin {
    @extend .btn-danger;
  }

  &.btn-gen {
    background-color: #5DCFDB;
    border-color: #5DCFDB;
    border-style: solid;
    color: $white;
    padding: 1rem 3rem;
    border-width: 2px;
  }

  &.btn-border {
    color: $white;
    border-color: $white;
    border-width: 2px;
    padding: 1rem 1.5625rem;
    box-sizing: border-box;
  }
}

.chckkbx {
  cursor: pointer;
  font-size: 17px;

  .Checkbox {
    margin-right: 13px;
  }
}

.container {
  button[type="submit"] {
    float: right;
    margin-top: 1rem;
  }

  .actns {
    button[type="submit"] {
      margin-top: 0;
    }
  }
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}


main {
  padding-top: 100px;

  .innr {
    position: relative;
  }
}

footer {
  @extend .container;
  border-top: 1px solid #e8e8e8;
  margin-top: 2.1875rem;
  padding-top: 3.125rem;
  padding-bottom: 1.25rem;
  text-transform: uppercase;


  h6 {
    margin: 0 0 1.25rem;
    color: $black;
    font-size: .6875rem;
    font-family: 'Futura PT Bold';
  }

  .contact-us {
    div {
      background-repeat: no-repeat;
      margin-bottom: 5px;
      padding-left: 25px;
      color: $black;
      font-size: .6875rem;
      font-family: 'Futura PT Bold';
      display: inline-block;

      &.email {
        background-image: url("#{$var-images-path}/mail.svg");
      }

      &.phone {
        background-image: url("#{$var-images-path}/mobile.svg");
      }
    }

    p {
      font-size: .7rem;
      text-transform: none;
    }
  }

  .pay-box {
    position: relative;
    display: inline-block;
    padding: 1.0625rem 1.25rem;
    border: .0625rem solid #e8e8e8;
    width: 300px;

    .img {
      position: absolute;
      top: -.875rem;
      left: .625rem;
      background-color: $white;
      background-image: url("#{$var-images-path}/paypal.png");
      background-repeat: no-repeat;
      background-position: center;
      width: 80px;
      height: 25px;
    }

    .row {
      div {
        height: 30px;
        background-position: center center;
        background-repeat: no-repeat;

        &.visa {
          background-image: url("#{$var-images-path}/visa.png");
        }

        &.maestro {
          background-image: url("#{$var-images-path}/maestro.png");
        }

        &.master-card {
          background-image: url("#{$var-images-path}/master-card.png");
        }

        &.amer {
          background-image: url("#{$var-images-path}/amer.png");
        }
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: .625rem;

    li {
      margin: 0 0 .9375rem;
      font-family: 'Open Sans SemiBold';

      a {
        color: #919191;
      }
    }
  }
}

.white-box {
  @include box-shadow(0.625rem 0 2.5rem rgba(222,225,254,.35));
  border-radius: $border-radius;
  background-color: $white;

  &.padding {
    padding: 2.5rem 6.25rem;

    @include media-breakpoint-down(md) {
      padding: 1rem;
    }
  }
}

.dropdown-wrapper .FixedOverlay {
  background-color: transparent;
}

.dropdown-menu {
  font-family: 'Open Sans Regular';
}

.form-control {
  @include box-shadow(0.125rem 0 0.625rem rgba(218,210,253,.35));
  font-size: 17px;

  &:focus {
    @include box-shadow(0.125rem 0 0.625rem rgba(218,210,253, 1));
  }
}

.form-group {
  padding-bottom: $var-form-group-padding-bottom;
  position: relative;

  .invalid-feedback,
  .valid-feedback {
    @extend .text-truncate;
    position: absolute;
    font-size: 13px;
    letter-spacing: $var-letter-spacing / 2;
  }
}

.ldr-md {
  .ldr-hddn {
    display: none;
  }
}

.lnk {
  color: $secondary;
  display: block;
  text-align: center;
  width: 100%;
  text-decoration: none;

  &.bld {
    font-family: 'Futura PT Heavy';
    text-transform: uppercase;
  }
}

.navbar {
  @include box-shadow(0px 1px 1px 0px rgba(0, 0, 0, 0.05));
  text-transform: uppercase;
  font-family: 'Futura PT Demi';

  .Badge {
    margin-left: 8px;
  }

  .navbar-logo {
    font-family: 'Futura PT Medium';
    font-size: 23px;
    letter-spacing: 1.0075px;
    margin-right: 75px;

    .img {
      display: inline-block;
      height: 35px;
      width: 50px;
      background-image: url("#{$var-images-path}/ico/051-shop.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: bottom;
      margin-right: 13px;
    }
  }

  .nav-link {
    color: $gray-600;
    height: 100%;
    letter-spacing: $var-letter-spacing;
    font-size: 16px;
    margin-right: 17px;

    .icn {
      top: 2px;
    }

    &.active {
      @include box-shadow(0px -3px 0px 0px $primary inset);
    }

    &.brdrd {
      margin-right: 0;
      padding-left: 20px;
      padding-right: 20px;
      border-left: $var-separator-border;
    }
  }

  @include media-breakpoint-down(md) {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }
}

.ntfctns {
  .ItemsStack {
    position: fixed;
    bottom: 15px;
    right: 0;
    z-index: 999;
    max-width: 350px;

    .item {
      margin-right: 15px;
    }

    @include media-breakpoint-down(xs) {
      max-width: none;
      min-width: 100%;
      padding-left: $spacer;
      padding-right: $spacer;

      .item {
        margin-right: 0;
      }
    }
  }
}

.qstn {
  position: relative;
  text-align: center;

  span {
    color: $secondary;
    padding: 0 15px;
    position: inherit;
    z-index: 1;
  }

  &::after {
    background-color: $input-border-color;
    content: '';
    height: $input-border-width;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
  }
}

.mce-panel {
  @include box-shadow(0px -3px 0px 0px $primary inset);
  border: none !important;
}

.mce-notification-warning {
  display: none !important;
}

.mce-statusbar {
  .mce-first,
  .mce-branding {
    display: none !important;
  }
}

.mce-edit-area {
  border: solid 1px $input-border-color !important;
}

.cntnt.as-full {
  .top-box {
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #4055ee;

    .p-ttl {
      color: $white;
      padding-top: 100px;
      text-align: left;
      font-size: 2.125rem;
    }
  }

  table {
    tr {
      th,
      td {
        color: #303030;
        font-family: 'Futura PT Bold';
        padding-left: 3.125rem;
        padding-right: 3.125rem;
      }

      td {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
      }

      th:last-child,
      td:last-child {
        text-align: right;
      }
    }
  }

  .ttop {
    margin-top: -158px;
  }

  main {
    width: 100%;
    max-width: none;
    padding-top: 64px;
    padding-left: 0;
    padding-right: 0;

    .innr {
      @include box-shadow(none);
    }
  }

  .UserAlerts .Alert {
    margin: 0;
    border-radius: 0;
    border: none;
  }
}

.TLNumericInput {
  @extend .form-control;
}

.modal-content {
  button[type="submit"] {
    margin-top: 0;
  }

  .XHRSpin {
    height: 200px;
  }

  .lst {
    height: 300px;
    overflow-y: auto;

    .table {
      margin-bottom: 0;
    }
  }
}

.table-clicked {
  cursor: pointer;
}

.nav-tabs {
  .nav-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-transform: capitalize;
  }
}

.tns-controls:focus {
  outline: none;
}

.tab-content {
  padding-top: 1rem;
}

.td-actns {
  a {
    padding: 0 5px;
  }

  button, a {
    background: none;
    border: none;
    cursor: pointer;
    text-transform: lowercase;

    &:focus {
      outline: 0;
    }
  }

  .rmv {
    color: $danger;
  }
}

.tbl-hd {
  margin-bottom: 0;
}

.to-bck {
  color: $primary;

  .icn {
    color: inherit;
  }
}

.Toast {
  font-family: 'Open Sans SemiBold';
}

.Product {
  display: block;
  margin-bottom: 35px;

  .nm {
    @extend .text-truncate;
    font-size: 17px;
    padding: 10px 0;
  }

  .actn {
    background-color: $primary;
    bottom: 0;
    border-radius: $border-radius;
    box-shadow: 0px -3px 9px 0px rgba(64, 85, 238, 0.4);
    display: none;
    text-align: center;
    padding: 35px 0;
    position: absolute;
    opacity: 0.98;
    left: 0;
    width: 100%;

    .btn {
      color: $primary;
    }
  }

  .prvw {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: solid 1px $border-color;
    border-radius: $border-radius;
    height: 268px;
    width: 100%;
    position: relative;
  }

  &:hover {
    .actn {
      display: block;
    }
  }
}

.tns-controls {
  text-align: right;
  margin-bottom: 0.6rem;

  button {
    width: 1.25rem;
    height: .875rem;
    top: -1.5625rem;
    left: inherit;
    right: 4.0625rem;
    background-image: url("#{$var-images-path}/slider-btns.png");
    background-position: 100%;
    border: none;
    background-color: transparent;

    &:first-child {
      margin-right: 2rem;
      background-position: 0;
    }
  }
}

.tox-statusbar__branding {
  display: none !important;
}

.ProductsSlider {
  padding: 3.125rem;

  .list {
    width: 100%;
  }

  &.lm {
    .ttl {
      display: none;
    }

    .list {
      position: relative;
      height: 150px;
    }
  }

  .Product {
    margin-bottom: 0;
  }
}

.ttl {
  color: $dark;
  font-family: 'Futura PT Heavy';
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: $var-letter-spacing;

  .inf {
    color: $var-info-color;
    display: inline-block;
    font-size: 13px;
    float: right;
    letter-spacing: 1.0050px;
  }
}

.pre-ttl {
  color: #303030;
  font-size: .9375rem;
  font-family: 'Futura PT Bold';
  text-align: center;
  margin-bottom: 5px;
}

.p-ttl {
  @extend .text-truncate;
  color: $primary;
  font-family: 'Futura PT Bold';
  font-size: 1.875rem;
  text-align: center;
  margin-bottom: 3rem;
}

.frm-cntnr {
  margin: 0 auto;
  height: 100%;
  width: 580px;
  position: relative;

  a {
    color: $primary;
  }

  .actn {
    font-weight: bold;
    text-align: center;
  }

  .btns {
    margin-top: $var-form-group-padding-bottom;
  }

  .btn,
  .lnk {
    font-size: 16px;
  }

  .frm {
    @include transform(translateY(-50%));
    @include box-shadow(0.625rem 0 2.5rem rgba(222,225,254,.35));
    position: absolute;
    top: 50%;
    width: 100%;

    .innr {
      @include box-shadow(0px 1px 1px 0px rgba(0, 0, 0, 0.05));
      background-color: #fff;
      padding: 38px 48px;
      border-radius: $border-radius;
    }
  }

  .ttl {
    font-family: 'Futura PT Bold';
    font-size: 29px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 18px;
    letter-spacing: $var-letter-spacing;
  }

  form {
    .form-group {
      label {
        color: $gray-600;
        font-size: 13px;
        font-family: 'Futura PT Heavy';
        text-transform: uppercase;
        letter-spacing: $var-letter-spacing;
      }
    }
  }

  .qstn span {
    background-color: $white;
  }

  .qstn-accnt {
    margin-top: 30px;
  }

  .ftr-lnk {
    margin-top: 20px;
    color: $primary;
  }

  &.Registration {
    .frm {
      @include transform(none);
      position: static;
      margin: 10% 0;
    }

  }

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  @include media-breakpoint-down(xs) {
    .frm {
      @include transform(none);
      top: 0;
      margin: 0 !important;

      .innr {
        padding: 28px;
      }
    }
  }
}

.sp {
  @include box-shadow(none !important);
  padding: 0 0 $var-page-padding-y 0;

  .ttl {
    margin-bottom: 20px;
  }

  .XHRSpin {
    height: 400px;
  }
}

.sdbr {
  .ttl {
    margin-bottom: 25px;
  }

  ul.lst {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 26px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      font-size: 17px;
      display: block;
    }
  }
}

.lft,
.rght {
  display: inline-block;
  vertical-align: top;
}

$var-left-side-width: 23% !default;

.lft {
  padding: $var-page-padding-y $var-page-padding-x;
  width: $var-left-side-width;

  .XHRSpin {
    height: 200px;
  }
}

.rght {
  padding: $var-page-padding-y $var-page-padding-x - 12px $var-page-padding-y $var-page-padding-x;
  width: 77%;
  position: relative;
  min-height: 350px;
}

.sprtr {
  background-color: $input-border-color;
  height: 100%;
  position: absolute;
  top: 0;
  left: $var-left-side-width;
  width: 1px;
}

.lst {
  table {
    tr:first-child td {
      border-top: none;
    }
  }
}

.prc {
  @extend .text-truncate;
  color: $primary;
  font-family: 'Futura PT Heavy';
  font-size: 18px;
}

// Includes
.FindEmailTips {
  ul {
    margin-bottom: 0;
    margin-top: 7px;
  }
}

.LoadMore {
  border-top: $var-separator-border;
  color: $var-info-color;
  font-family: 'Futura PT Heavy';
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  .spnnr {
    @include mask-image(url("#{$var-images-path}/spinner.svg"));
    @include animation(spin 0.6s linear infinite);
    background-color: $var-info-color;
    height: 20px;
    margin-left: 5px;
    margin-bottom: 3px;
    width: 20px;
  }
}

.NoHaveLabel {
  color: $secondary;
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

.XHRSpin {
  position: relative;
  width: 100%;
  height: 100%;
}

@include media-breakpoint-down(xs) {
  .ProductsSlider {
    padding: 1rem;
  }

  .lft,
  .rght {
    padding: 1rem !important;
    width: 100%;
  }

  .lft {
    text-align: center;
  }

  .sprtr {
    display: none;
  }

  .actns {
    div {
      margin-bottom: 1rem;
    }

    div:last-child {
      margin-bottom: 0;
    }
  }

  footer {
    padding-top: 1.5rem;
    margin-top: 1rem;
    text-align: center;

    h6,
    ul {
      font-size: 1rem;
    }

    ul,
    .contact-us {
      margin-bottom: 1.5rem;
    }

    .pay-box {
      width: 100%;

      .row div {
        margin-bottom: 1rem;

        &:last-child,
        &:nth-last-child(2) {
          margin-bottom: 0;
        }
      }
    }
  }
}
