$var-images-path: "images" !default;
$var-form-group-padding-bottom: 25px !default;
$var-letter-spacing: 1.0025px !default;
$var-notifications-padding: 20px !default;
$var-background-color: #fff !default;
$var-color: #6e6e6e !default;
$var-page-padding-y: 28px !default;
$var-page-padding-x: 30px !default;
$var-info-color: #aaaab6 !default;
$var-separator-border: 1px solid $input-border-color !default;
