.LoginsHistory {
  table {
    th:first-child,
    td:first-child {
      width: 45%;
    }

    th:nth-child(2),
    td:nth-child(2) {
      width: 35%;
    }

    th:last-child,
    td:last-child {
      text-align: right;
    }
  }
}
