.Users {
  table {
    a {
      color: $primary;
    }

    td:first-child,
    th:first-child {
      width: 35%;
    }

    td:nth-child(2),
    th:nth-child(2) {
      width: 40%;
    }

    td:last-child,
    th:last-child {
      text-align: right;
    }
  }

  @include media-breakpoint-down(sm) {
    table {
      td:nth-child(2),
      th:nth-child(2) {
        display: none;
      }
    }
  }
}
