.Catalog {
  .Advertising {
    img {
      width: 100%;
    }
  }

  .btn-plugin {
    margin-bottom: 40px;
  }

  .Sidebar {
    margin-bottom: 65px;
  }

  .Products {
    .ttl {
      margin-bottom: 20px;
    }

    .XHRSpin {
      min-height: 450px;
    }

    .Product {
      @extend .col-md-3;
    }
  }

  @include media-breakpoint-down(sm) {
    .Advertising {
      display: none;
    }
  }

  @include media-breakpoint-down(xs) {
    .Products {
      padding: 0;
    }
  }
}

.init-md .Catalog {
  .sd {
    display: none;
  }
}
