.Catalog {
  .btn-plugin {
    margin-bottom: 40px;
  }

  .Sidebar {
    margin-bottom: 65px;
  }

  .Products {
    .ttl {
      margin-bottom: 20px;
    }

    .sort {
      $arrow-width: 30px;
      position: relative;

      input {
        @extend .text-truncate;
        padding-right: $arrow-width;
        background-color: $white;
      }

      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: $arrow-width;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("#{$var-images-path}/select-arrow.png");
      }

      &.active::after {
        @include rotate(180deg);
      }
    }

    .XHRSpin {
      min-height: 450px;
    }

    .Product {
      @extend .col-md-3;
    }
  }

  @include media-breakpoint-down(sm) {
    .Advertising {
      display: none;
    }
  }

  @include media-breakpoint-down(xs) {
    .Products {
      padding: 0;
    }
  }
}

.init-md .Catalog {
  .sd {
    display: none;
  }
}
