.Admin,
.Dashboard {
  .rght {
    .ttl {
      padding-bottom: 1rem;
    }

    .lst {
      overflow-y: auto;

      table {
        margin-bottom: 0;
      }
    }

    .XHRSpin {
      min-height: 250px;
    }
  }
}
