.ProductPage {
  .ttl {
    margin-bottom: $var-page-padding-y;
    white-space: normal;
  }

  .tab-content {
    .itm {
      display: none;
      overflow-x: auto;
    }

    @each $self-class in desc, shppng {
      &.#{$self-class} {
        .#{$self-class} {
          display: block;
        }
      }
    }
  }

  .ttl {
    margin-bottom: 1rem;
  }

  .prc {
    margin-bottom: 1rem;
    font-size: 25px;
  }

  .thmbs {
    .itm {
      background-position: center;
      background-repeat: no-repeat;
      display: inline-block;
      height: 60px;
      background-size: auto;
      cursor: pointer;
      border: solid 1px $secondary;
      border-radius: $border-radius;
      width: 100%;

      &.active {
        @extend .animated,.fadeIn;
        border-width: 3px;
        border-color: $primary;
      }
    }
  }

  .tabs {
    margin-top: 1.5rem;
  }

  .TLNumericInput {
    width: auto;
    text-align: center;
  }

  @include media-breakpoint-down(sm) {
    .tabs {
      margin-top: 1rem;
    }
  }
  .configurable-data {
    span {
      vertical-align: middle;
      &.active,&:focus,&:active {
        border: 3px solid #f90;
        cursor: pointer;
        img {
          width: 32px;
          height: 32px;
        }
      }
      &.disabled {
        opacity: .3;
        &:hover {
          cursor: default;
          border: 1px solid #e9e9e9;
          img {
            width: 37px;
            height: 37px;
          }
        }
      }
    }
    .item-data {
      display: inline-block;
      width: 38px;
      height: 38px;
      margin: 0 3px;
      vertical-align: middle;
      cursor: pointer;
      border: 1px solid #e9e9e9;
      text-align: center;
      overflow: hidden;
      border-radius: 4px;
      &:hover {
        img {
          width: 32px;
          height: 32px;
        }
      }
      img {
        width: 37px;
        height: 37px;
      }
    }
    &.item-data,&.item-size {
      &:hover {
        border: 3px solid #f90;
        cursor: pointer;
      }
    }
    .item-size {
      display: inline-block;
      height: 30px;
      margin: 0 3px;
      padding: 0 10px;
      color: #333;
      border: 1px solid #e9e9e9;
      line-height: 28px;
      border-radius: 3px;
      background-color: #fff;
      text-align: center;
      &.active {
        line-height: 26px;
        height: 30px;
        padding: 0 10px;
      }
      &:hover {
        padding: 0 8px;
        line-height: 24px;
        border-radius: 4px;
      }
      &.disabled:hover {
        line-height: 28px;
        height: 30px;
        padding: 0 10px;
      }
    }
  }
}
