.ProductPage {
  .ttl {
    margin-bottom: $var-page-padding-y;
    white-space: normal;
  }

  .tab-content {
    .itm {
      display: none;
      overflow-x: auto;
    }

    @each $self-class in desc, shppng {
      &.#{$self-class} {
        .#{$self-class} {
          display: block;
        }
      }
    }
  }

  .ttl {
    margin-bottom: 1rem;
  }

  .prc {
    margin-bottom: 1rem;
    font-size: 25px;
  }

  .thmbs {
    .itm {
      background-position: center;
      background-repeat: no-repeat;
      display: inline-block;
      height: 60px;
      background-size: auto;
      cursor: pointer;
      border: solid 1px $secondary;
      border-radius: $border-radius;
      width: 100%;

      &.active {
        @extend .animated,.fadeIn;
        border-width: 3px;
        border-color: $primary;
      }
    }
  }

  .tabs {
    margin-top: 1.5rem;
  }

  .TLNumericInput {
    width: auto;
    text-align: center;
  }

  @include media-breakpoint-down(sm) {
    .tabs {
      margin-top: 1rem;
    }
  }
}
