$var-reset-password-btn-padding: 60px !default;

.ResetPassword {
  .btn-wrap {
    text-align: center;
    padding-top: $var-form-group-padding-bottom;

    .btn {
      padding-left: $var-reset-password-btn-padding;
      padding-right: $var-reset-password-btn-padding;

      @include media-breakpoint-down(xs) {
        width: 100%;
      }
    }
  }
}
