@import '../../scss/entry';

@-webkit-keyframes tl-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1.0);
  }
}

@keyframes tl-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.ScaleBouncesSpin {
  .insd {
    div {
      width: 33.333%;
      height: 100%;
      background-color: $tl-spin-color;
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: tl-bouncedelay 1.4s infinite ease-in-out both;
      animation: tl-bouncedelay 1.4s infinite ease-in-out both;
    }

    .bnc1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }

    .bnc2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
  }
}
