.Dashboard {
  .Product {
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: $var-separator-border;

    &:first-child,
    &:nth-child(2) {
      border-top: none;
    }

    .prc {
      margin-top: 5px;
    }

    .al {
      @extend .ttl;
      font-size: 16px;
      padding-top: 7px;
      padding-bottom: 5px !important;

      &.apprvd {
        color: $success;
      }

      &.nt-apprvd {
        color: $danger;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .Product:nth-child(2) {
      border-top: $var-separator-border;
    }
  }
}

.EditProduct {
  .thmbs {
    margin-bottom: 1rem;
  }

  .attr-inf {
    margin-bottom: 0.3rem;
  }

  .btns-grp {
    margin-top: 1rem;
  };

  .tabs {
    margin-top: 1rem;
  }

  .thmb {
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
    height: 65px;
    background-position: center;
    background-repeat: no-repeat;

    .cls {
      @extend .text-truncate;
      @extend .animated;
      @extend .flipInX;
      color: $white;
      cursor: pointer;
      display: none;
      line-height: 65px;
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: $primary;
      border: none;
      font-size: 22px;
      opacity: 0.9;

      &:focus {
        outline: none;
      }
    }

    &:hover {
      .cls {
        display: block;
      }
    }
  }

  .tab-content {
    .form-control {
      height: auto;
      padding: 0;
    }

    .form-group {
      display: none;
    }

    @each $self-class in desc, shppng {
      &.#{$self-class} {
        .#{$self-class} {
          display: block;
        }
      }
    }
  }

  .modal-body {
    .lst {
      max-height: 400px;

      table tr {
        cursor: pointer;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .EditProduct {
    .thmbs {
      display: none;
    }
  }
}
