.Dashboard .SoldProducts {
  tr:hover {
    cursor: pointer;
  }

  th:first-child,
  td:first-child {
    width: 15%;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 50%;
  }

  th:last-child,
  td:last-child {
    text-align: right;
  }

  .modal-body {
    .lst {
      height: 500px;
    }

    table {
      tr:hover {
        cursor: auto;
      }

      td:nth-child(2) {
        width: auto;
      }

      td:last-child {
        width: 25%;
        text-align: right;
      }
    }
  }

  .All .dt {
    min-height: 300px;
  }
}
